<!DOCTYPE html>
<html lang="en">
    <%- include("./include/head")%>
<body class="hold-transition dark-skin sidebar-mini theme-primary">
<div class="wrapper">

    <%- include("./include/header")%>
    <%- include("./include/sideMenu")%>
  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Advanced Sample Text 1 </h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Sample Text 2</li>
								<li class="breadcrumb-item active" aria-current="page">sample Text 3</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		    <div class="box">
				<div class="box-header">					
					<h4 class="box-title">Sample Text 4</h4>
				</div>
				<div class="box-body">
                        <!-- /All  content write here -->
                        <form>
                            <label>Name</label><br>
                            <input name="name" type="text"><br><br>
                            <input name="submit" type="submit">
                        </form>
				</div>
			</div>
		</section>
		<!-- /.content -->

	  </div>
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("./include/footer")%>
  <%- include("./include/settingSlider")%>
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
    

	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
    <script src="../assets/feather.min.js"></script>	<script src="../assets/dropzone.js"></script>
	
	<!-- Sunny Admin App -->
	<script src="js/template.js"></script>	


</body>
</html>
